<div class="row features-section">
    <div class="col-sm-4 text-center feature-share">
        <div class="feature-icon">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
        </div>
        <p>What polls would be without people around the world that knows about it. Share your polls and people will give their opinion about it. Social network sharing is also included.</p>
    </div>
    <div class="col-sm-4 text-center feature-chart">
        <div class="feature-icon">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
        </div>
        <p>All polls have graphical representation using charts. You can select few chart options for your poll.</p>
    </div>
    <div class="col-sm-4 text-center feature-mobile">
        <div class="feature-icon">
            <i class="fa fa-mobile" aria-hidden="true"></i>
        </div>
        <p>Applications that works only on desktop browsers should not even exist anymore! CrazyPoll is responsive and mobile friendly, you can access it with mobile, tablets and desktop computers.</p>
    </div>
</div>
